#content {
  padding-top:50px;
}
#login-buttons a {
  color:#ffffff;
  float:none;
  margin-top:10px;
  padding:10px 15px 10px;
  text-decoration:none;
}
#login-dropdown-list a {
  color:black;
}

.book {
  background:#fff;
  border:1px solid #ccc;
  border-bottom:0;
  border-radius:1em 1em 1em 1em;
  color:black;
  khtml-border-radius:1em 1em 1em 1em;
  margin:2em;
  margin-bottom:0;
  moz-border-radius:1em 1em 1em 1em;
  ms-border-radius:1em 1em 1em 1em;
  o-border-radius:1em 1em 1em 1em;
  overflow:hidden;
  padding:10px;
  webkit-border-radius:1em 1em 1em 1em;
}

.active-book {
  background-color:rgb(255, 255, 202);
  background-color:rgba(255, 255, 255, 0.6);
}

.book p, .nav-collapse button {
  margin-left:20px;
  margin-right:5px;
}

.center {
  text-align: center;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.description {
  padding-left: 50px;
}

.home-page-box {
  background-image: url('/img/openbook-blurred.jpeg');
  position: relative;
  top: -10px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-page-content {
  z-index:10;
  position:relative;
}

.opaque-background {
  background-color: rgba(255, 255, 255, 0.9);
  border:1px solid #ccc;
  border-bottom:0;
  border-radius:1em 1em 1em 1em;
  color:black;
  khtml-border-radius:1em 1em 1em 1em;
  margin:2em;
  margin-bottom:0;
  moz-border-radius:1em 1em 1em 1em;
  ms-border-radius:1em 1em 1em 1em;
  o-border-radius:1em 1em 1em 1em;
  overflow:hidden;
  padding:10px;
  webkit-border-radius:1em 1em 1em 1em;
  text-align: center;
}

.logo {
  padding-top: 10px;
}

.instructions img {
  max-height: 128px;
  max-width: 128px;
  min-width: 128px;
  overflow: hidden;
}

.modal-body {
  max-height: 500px;
}
.navbar .brand {
  background: url('/img/logo-clear-small.png')  no-repeat center;
  height: 20px;
  width: 200px;
  overflow: visible;
}
.navbar .nav > li > a {
  color:#efefef;
  font-size:14px;
  padding:10px 10px 11px;
  text-shadow:none;
}
.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
  background-color:black;
  color:#fff;
  text-decoration:none;
}
.navbar .nav li.dropdown.open > .dropdown-toggle {
  background-color:black;
  color:#fff;
}
.navbar-inner {
  background-color:#363636;
  background-image:linear-gradient(to bottom,#444,#222);
  background-image:-moz-linear-gradient(top,#444,#222);
  background-image:-o-linear-gradient(top,#444,#222);
  background-image:-webkit-gradient(linear,0 0,0 100%,from(#444),to(#222));
  background-image:-webkit-linear-gradient(top,#444,#222);
  background-repeat:repeat-x;
  border-color:#222 #222 #000;
  border-color:rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
  color:#fff;
  filter:progid:DXImageTransform.Microsoft.gra;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  text-shadow:0 -1px 0 rgba(0,0,0,.25);
}
.post-book-button {
  padding-top:5px;
}

.remove, .contact {
  position: relative;
  bottom: 9px;
}
.search-query {
  background-color:#fff;
  font-size:24px;
  font-weight:200;
  min-height:40px;
  padding:10px 10px 10px 15px;
  width:90%;
}
.span {
  background-color:#f5f5f5;
  border:1px solid #e3e3e3;
  border-radius:4px;
  box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);
  margin-bottom:20px;
  margin-left:20px;
  moz-border-radius:4px;
  moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);
  padding:19px;
  webkit-border-radius:4px;
  webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);
}
.title {
  font-size:20px;
}
.ui-autocomplete {
  z-index:1050;
}

.warning { 
  color: red;
}
body {
  background:url('/img/grid.png');
  font-family: 'Open Sans', sans-serif;
}